body {
    width: 100%;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}
#main-header {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    z-index: 1;
    box-shadow: 0 3px 3px 0 grey;
    display: block;
    margin-top: 0px;
    height: 80px;
    background-color: rgb(248, 246, 246);
    font-weight: bold;
    font-size: 100%;
    font-family: candara;
}

#main-header h1 {
    font-weight: bold;
    color: gray;
    font-family: Castellar;
}
#main-header ul{

    list-style: none;
    position: absolute;
    top: 30px;
}
#main-header li{
    display: inline-block;
}
#main-header a {
    display: block;
    text-transform: none;
    text-decoration: none;
    padding: 5px;
    color: gray;
    margin-right: 30px;
    margin-left: 10px;
    font-size: 90%;  
}

#main-header a .material-icons {
    margin-right: 5px;
}


#main-header a:active {
    border-bottom: solid 6px black;
    color: black;
}

#main-header .current {
    border-bottom: solid 4px black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
}

#main-header table {
    position: absolute;
    right: 50px;
    top: 1px;
}

#main-header td {
   padding: 15px;

}


#header-nav {
    display: none;
    margin: 10px;
    height: 60px;
    background-color: aliceblue;
    border: solid 1px;
}

#content-body {
    margin: 10px;
    margin-right: 70px;
    margin-top: 19%;
    border-radius: 5px;
}

#footer {
    height: 352px;
    border-top: solid 1px ;
    background-color: dimgray;
    color: black;
    font-size: 90%;
    font-weight: bold;
    clear: both;
}

#footer ul {
    margin:50px;
    list-style: none;
    padding: 4px;
}
#footer li {
    display: block;
}
#footer a {
    text-decoration: none;
    color: white;
    font-size: 100%;
    padding: 4px;
}

#footer a:hover {
    background-color: white;
    color: black;
}

#footer .copy-right {
    position: relative;
    bottom: 30%;
    left: 35%;
    text-align: center;
    margin-top: 2px;
    width: 300px;
    text-transform: capitalize;
}

/*======================this is For MY SIDE-BAR AT 600px ==================*/


#sidebar {

    position: fixed;
    background-color: rgb(221, 217, 217);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 12.5%;

}

#sidebar-content .img-jo {
    width: 155px;
    height: 160px;
    position: absolute;
    left: 0px;
    top: 150px;
    z-index: 1;
}




#sidebar-content h4 {
    color: black;
    font-size: 90%;
    padding: 5px;
    font-family: candara;
    margin-left: 7px;

}

#sidebar-content a {
    text-decoration: none;
    display: block;
    padding: 3px;
    color: black;
    text-transform: uppercase;
    border-bottom: solid grey 1px;
    font-size: 100%;
    font-family: arial;
}

#sidebar-content a:active {
    background-color: black;
    color: grey;
    border-right: solid 5px black;

}

#sidebar-content .second-table {
    position: absolute;
    width: 155px;
    height: auto;
    color black;
    top: 40%;
    left: 0;
    z-index: 1;
    border-radius: 7px;
    background-color: dimgrey;
    display: none;
}
#sidebar-content .second-table a {

    color: lightgrey;
}

#side-bar-button {
    display: none;
    position: absolute;
    left: 7px;
    top: 37px;
    z-index: 1;
}

/*==================Inside The Side Bar The "Main-Body"====================*/


#main-body {
    overflow-y: scroll;
    max-height: 100%;
    width: 88%;
    position: fixed;
    left: 155px;
    margin-left: 0px;
    top: 0;
    background-color: white;
}

/*====================== CONTENT - BODY==================================*/


.first-content-box {
    width: 80%;
    margin: auto;
    height: 300px;
    font-size: 120%;
    color: rgb(68, 65, 65);
    text-align: center;
    font-family: Arial Rounded MT Bold;

}

.image-content-box {
    width: 80%;
    margin-left: 10%;
    height: auto;
    background-color: black;
    color: grey;
    text-align: center;

}
.first-content-box h2 {
    margin-top: 70px;
    color: black;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;

}

/*=============================GALLERY - SECTION=============================================*/


#gallery-content-body {
    height: auto;
    margin: 20px;
}
.gallery .img:first-child {
    width: 100%;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
}
.gallery:first-child {
    max-width: 70%;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;

}

div .img {

    width: 180px;
    margin: 15px;
    float: left;
}

div .img img {
    height: 50%;
    width: 100%;
    border: solid 1px grey;
    border-radius: 10px;
}
div .img img:hover {
    box-shadow: 0 10px 15px 0 black;
}

div .title {
    clear: both;
    color: black;
    font-size: 150%;

    position: absolute;
    top: 125%;
    left: 30%;
}

div .img:first-child {
    margin-left: 20%;
}


/*================================ABOUT PAGE - SECTION====================================*/

#content-body img:first-child {
    height: 100%;
    width: 100%;
    opacity: 0.9;
    z-index: -1;
}

.about-paragraph {
    position: absolute;
    left: 25%;
    top: 300px;
    color: white;
    width: 50%;
    height: 550px;
    border: solid 2px rgb(0, 158, 84);
    border-radius: 30px;
    background-color: black;
    overflow-y: auto;
    text-align: center;
    font-size: 20px;
    padding: 10px
    font-family:'Courier New', Courier, monospace;

}


/*==========================HOME PAGE - SECTION==============================*/


body {
    -o-background-image: url(home-moon.gif);
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    overflow-: hidden;
}

@meadia (max-width: 600px) {

}

#home-header-nav {
    display: none;
    float: left;
    margin-right: 10px;
    color: white;
    height: 400px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

#home-main-header {
    position: fixed;
    top: 0;
    display: block;
    border: solid;
    width: 100%;
    height: 150px;
    background-color: black;
    opacity: 0.6;
}

#home-main-header li {
    display: inline-block;
   

}

#home-main-header  a {
    display: block;
    padding: 4px;
    margin-right: 15px;
    color: silver;
    font-weight: bold;
    text-decoration: none;

}#table {
    display: none;
}

.bg1 button {
    display: none;
}

#home-main-header-botton a {
    display: block;
    width: 300px;
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 7px;
    border: solid grey 1px;
    text-transform: capitalize;
    position: absolute;
    left: 34px;
    top: 60%;
    text-align: center;
}
#home-main-header-botton a:hover {
    background-color: white;
    color: black;
}

#title h2 {
    font-size: 90px;
    font-family: Arial Black;
    color: silver;
    width: auto;
    position: absolute;
    top: 36%;
    left: 1%;
}

/*================================================Home Footer - Section=====================================*/


#home-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    border-top: solid 1px ;
    background-color: black;
    color: white;
    font-size: 90%;
    font-weight: bold;
    border-top: solid black; 
    z-index: 1;
    bottom: 0;
}

ul {
    list-style: none;
}

#home-footer a {
    text-decoration: none;
    color: white;
    padding: 4px;
}
#home-footer li {
    margin-top: 5px;
    margin-bottom: 15px;
}

#home-footer a:hover {
    background-color: black;
    color: black;
}

