body {
    font-family: helvetica;
    font-size: 16px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#main-header {
  
    display: none;
    
}
div #header-nav {
    margin: 0px;
    height: 80px;
    background: linear-gradient(to right, white, black, black);
    border-bottom: solid 1px white;

}


#header-nav table {
    float: right;
    margin-right: 10px;

}
#header-nav td {
    padding: 12px;

}

#header-nav li {
  border: solid;
  display: inline-block;
  padding: 5px;

}
#header-nav h1 {
    color: white;
    margin-left: 20px;
    font-size: 20px;
}
#content-body {
    overflow: visible;
    margin: 3px;
    height: auto;

    border-radius: 5px;
}
#footer {
    height: auto;
    border-bottom: solid 1px ;
    background-color: white;
    color: black;
    font-size: 80%;
    font-weight: bold;
}

#footer ul {
    list-style: none;
    padding: 4px;
}
#footer li {
    padding: 4px;
}
#footer a {
    text-decoration: none;
    color: grey;
}

#footer .copy-right {
    position: relative;
    bottom: 5px;
    left: 50px;
    text-align: center;
    margin-top: 2px;
    width: 300px;
    text-transform: capitalize;
    font-size: 90%;
}

/*================================THIS IS FOR MY SIDE BAR===================*/


#sidebar {

    position: fixed;
    background-color: black;
    width: 250px;
    height: 100%;
    left: -250px;
    top: 0;
    transition: left, 0.05s ease-out;


}
#sidebar.active {

    left: 0;

}
#side-bar-button i {
    background-color: black;
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    margin: 3px;
}
#side-bar-button {

    position: absolute;
    left: 7px;
    top: 27px;
    z-index: 1;
    padding: 5px;
    border-radius: 30px;
}
#main-body {
    overflow-y: scroll;
    max-height: 100%;
    width: 400px;
    position: absolute;
    left: 255px;
    margin-left: 0px;
    top: 0;
    background-color: black;
}
/*===============================Side-Bar-Links==========================================*/


#sidebar-content .img {
    width: 50px;
    height: 50px;
    z-index: 10;
}

#sidebar-content h3 {
    color: white;
    font-size: 150%;
    padding: 65px;
    font-family: candara;
    margin-bottom: 0;

}

#sidebar-content a {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-bottom: solid grey 1px;
    font-size: 150%;
    font-family: arial;
}

#sidebar-content a:active {
    background-color: silver;
    color: black;
    border-right: solid 5px black;

}

#sidebar-content .current {
    background-color: grey;
}

#sidebar-content .second-table {
    position: absolute;
    width: 248px;
    height: auto;
    color black;
    top: 0%;
    left: 0;
    z-index: 1;
    border-radius: 7px;
    background-color: black;
}

#sidebar-content .img-jo {
    width: 249px;
    height: auto;
    position: absolute;
    left: 0px;
    top: 105%;
    z-index: 1;
}

/*======================= CONTENT - BODY ===============================*/


.first-content-box {
    width: 100%;
    height: 300px;
    line-height: 1.3em;
    color: grey;
    text-align: center;

}

.image-content-box {
    width: 100%;
    height: 365px;
    margin-top: 18px;
    color: grey;
    text-align: center;

}
.first-content-box h2 {
    margin-top: 50px;
    color: lightgrey;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 6vw;

}

/*=====================================GALLERY - SECTION======================================*/

.gallery {
    width: auto;
    height: auto;
    text-align: center;
}

.gallery img {
    width: 100%;

}

div .title {
    clear: both;
    color: white;
}



/*================================ABOUT PAGE - SECTION====================================*/

#content-body img:first-child {
    width: 100%;
    opacity: 0.9;
    z-index: -1;
}

.about-paragraph {
    position: absolute;
    left: 80px;
    top: 180px;
    line-height: 1.5em;
    color: white;
    width: 230px;
    height: 400px;
    border: solid 2px red;
    border-radius: 30px;
    background-color: black;
    overflow-y: auto;
    text-align: center;
    padding: 15px;
    font-size: 5vw;
     font-family:'Courier New', Courier, monospace;
}


/*==========================================HOME STYLE SHEET - SECTION======================================*/



body {
    background-image: url(home-moon.gif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 100%;
    overflow-x: hidden;
}



.bg1 button {
    color: white;
    background: black;
    height: auto;
    width: 200px;
    position: fixed;
    top: 40%;
    left: 30px;
    padding: 5px;
    border-radius: 5px;
    font-family: calisto mt;
    font-size: 30px;
    box-shadow: 0 2px 2px 0px black;
    position: fixed;
}

.bg1 button a {

    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}
#home-main-header {
    display: none;
}

#home-header-nav {
    float: left;
    margin-right: 10px;
    color: white;
    height: 400px;
    width: 1000px;
    background-color: black;
    opacity: 0.5;
}



#home-header-nav div {

}

#title h1 {
    font-size: 90px;
    font-family: Arial Black;
    color: silver;
    
    max-width: 300px;
    position: absolute;
    top: 0;
}

#home-main-header-botton a {
    display: none;
}


/*===============================Home Footer - Section=====================================*/


#home-footer {
    display: none;
}
